<!--Header section-->
<div class="wrapper">
    <header>
          <!--Mobile menu-->
          <section class="mobile-section">
            <div class="header-container">
                <div class="mobile-navigation">
            <button class="js-open-menu button button--toggle-menu" aria-expanded="false" aria-controls="mobile-menu">
                <svg
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"
                ></path>
              </svg>
          </button>
        </div>
        </div>
        </section>
      <section class="header-section">
        <div class="header-container">
            <div class="logo">
                <a href="#">
                <img src="./images/logo-header.png"
                alt="logo" >
            </a>
              </div>
          <ul class="nav-item">
            <li><a href="#">About us</a></li>
            <li><a href="#">Catalog</a></li>
            <li><a href="#">Sale</a></li>
          </ul>
          <div class="nav-phone">
            <a href="tel:+380 (68) 443-94-26"> +380 (68) 443-94-26 </a>
          </div>
        
       
        </div>
      </section>
    </header>
  
    <!--Hero section-->
    <section class="hero-section">
      <div class="hero-container">
        <div class="hero-content">
          <h1 class="hero-section-title">Welcome to our collection <br> of premium watches</h1>
          <p class="hero-section-text">
            Our watches are not just timepieces, but <br>
            also an expression of your personality and <br> lifestyle. From classic designs to modern <br>
            ones, we have a watch to suit every taste <br> and occasion.
          </p>
        </div>
        <div class="hero-images">
          <div class="watch-slides">
            <img srcset="./images/img-1@1x.jpg 1x, ./images/img-1@2x.jpg 2x" src="./images/img-1@1x.jpg" alt="watch picture">
            <div class="hero-button">
              <div class="control-button">
                <button class="pre-btn">
                  <svg class="arrow"><use href="./images/icons-header.svg/chevron.svg#icon-chevron-left"/></svg>
                </button>
                <button class="nxt-btn">
                  <svg class="arrow"><use href="./images/icons-header.svg/chevron.svg#icon-chevron-left-1"/></svg>
                </button>
              </div>
              <div class="slide-number">
                <p>01</p>
                <span></span>
                <p>05</p>
              </div>
            </div>
            <p class="hero-text-mobile">
                Our watches are not just timepieces, but <br>
                also an expression of your personality and <br> lifestyle. From classic designs to modern <br>
                ones, we have a watch to suit every taste <br> and occasion.
              </p>
          </div>
            <img class="hero-watch" srcset="./images/hero-image@1x.jpg 1x, ./images/hero-image@2x.jpg 2x" src="./images/hero-image@1x.jpg" alt="watch on a hand">
        </div>
      </div>
    </section>
    <div class="js-menu-container">
        <div class="mobile-navigation">
          <div class="navbar-mobile">
            <div>
              <img src="./images/logo-header.png" alt="logo" />
            </div>
            <div><button class="js-close-menu button-close-nav">x</button>
            </div>
          </div>
  
          <ul class="nav-item">
            <li>
              <a href="#" class="header-link">About us</a>
            </li>
            <li>
              <a href="#" class="header-link">Catalog</a>
            </li>
            <li>
              <a href="#" class="header-link">Sale</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
 

